/*
 * Globals
 */
a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: #004781;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #eee;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: block;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: black;
  background-color: #eee;
}

.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}


/* Header
-------------------------------------------------------------------------------- */

.header-bar {
  width: 100%;
  height: 100px;
  padding-top: 0px;
  background-color: #004781;
}

.header-bar .container {
  position: absolute;
  width: 50%;
  left: 50%;
  transform: translate(-50%,0);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
  display: inline-flex;
  white-space: pre;
}

.float-right a {
  padding: 5px 0px;
  margin: 0px 10px;
  color: #fff !important;
  font-size: 1.2em;
}


/* MODAL
-------------------------------------------------------------------------------- */

.modal-open {
  padding: 0 !important;
  overflow: visible;
}

#incident-modal,
#marker-modal {
  width: 100%;
  height: 100%;
  padding: 0 !important;
}

.modal {
  max-width: 100%;
}

.modal-dialog {
  position: absolute;
  width: 100%;
  max-width: 90% !important;
  max-height: 80% !important;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) !important;
}

.modal-body {
  background-color: #fff;
  text-shadow: none;
  position: relative;
}

.modal-header {
  background-color: #004781;
  color: #fff;
  min-height: 4em;
}

.modal-dropdown {
  background-color: #fff;
  width: 100%;
}

.modal-floor-select {
  width: 50%;

}

.modal-dropdown select {
  width: 50%;
  margin-left: 25%;
}

.modal-content {
  border: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 0, 0, 0);
  box-shadow: 0px 0px 10px 0px #000;
  color: #000;
}

.modal-content #modal-data {
  max-height: 60vh !important;
  width: 50%;
  overflow: scroll;
  overflow-x: hidden;
  float: right;
}
.modal-content #modal-image {
  width: 50%;
  max-width: 50%;
  float: left;
}
.modal-content #modal-image img {
  max-width: 100%;
  max-height: 100%;
  padding: 2em;
}
.modal-content #modal-data ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;
  /* padding-left: 1em; */
  padding: 10px 0 10px 1em;
  list-style: none;
  border: 1px solid #004781;
  border-bottom: transparent;
  border-right: transparent;
  background-color: rgba(0,0,0,0.1);
}
.modal-content #modal-data p {
  margin: 0px;
  padding: 0px;
}
.modal-content #modal-data h5 {
  margin: 0px;
  padding: 0px;
}

.modal-footer {
  padding: 0px 10px 10px;
  background-color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: none;
}

/* MODAL END */

/* OVERVIEW PAGE */

h5.overview-total {
  border-bottom: 2px solid #004781;
  margin-bottom: 1em !important;
  font-weight: bold;
  font-size: 1.4em;
}

.overview-injuries h6,
.overview-hazards h6 {
  font-size: 1.2em;
}

.overview-injuries p,
.overview-hazards p {
  font-size: 1.1em;
}

.overview-injuries,
.overview-hazards {
  display: inline-block;
  vertical-align: top;
  margin-right: 1em;

}

/* MAP
-------------------------------------------------------------------------------- */

#map {
  height: 70vh;
  width: 100%;
  border: 2px solid #004781;
}

.map-container {
  position: relative;
  width: 100%;
  height: 60vh;
  /* position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding-top: 50px; */
}



/* INFO BAR
--------------------------------------------------------------------------------*/

  .content-container {
    min-height: 310px;
  }

  .map-heading {
    position: absolute;
    color: #004781;
    text-align: center;
    font-size: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: -36px;
  }

.info-window-content {
  color:#000;
}

.name-container {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#marker-info {
  font-size: 28px;
  position: relative;
  /* top:-40px; */
  text-align: center;
  /* width: 250px; */
  /* background-color: #fff; */
  /* border: 1px solid #004781; */
  margin-left: auto;
  margin-right: auto;
}

.block-name-link:hover {
	cursor: pointer;
}

/* HEATMAPS
--------------------------------------------*/
.marker-content {
  margin-top: 50px;
  border: 1px solid #004781;
  background-color: #fff;
  min-height: 310px;
  position: absolute;
  width: 30%;
  min-width: 500px;
  left: 50%;
  transform: translate(-50%,0);
}
#marker-info-content {
  padding: 20px 0px 0px 20px;
  letter-spacing: 1px;
}
#marker-info-content span  {
  font-weight: bold;
}


/* TOGGLE BAR
--------------------------------------------------------------------------------*/
.toggle-bar {
  position: absolute;
  background-color: #004781;
  /* top: -40px; */
  padding: 10px 5px;
  text-align: center;
  bottom: -70px;
  left: 50%;
  transform: translate(-50%, 0);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.map-container .hfx-braces .map-reset-btn {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  color: #fff !important;
}

#options {
  position: relative;
}
#options .radio-filter {
  margin-right: 10px;
  color: #fff !important;
}

#options .radio-options {
  display: inline-block;
  width: 50%;
}
#options .radio-options .option-titles {
  text-align: center;
  font-size: 1em;
  color: #fff;
  margin-bottom: 0.5em;
}
#options .radio-options .option-titles:hover a {
  color: #fff;
}
#options .radio-options ul {
  margin: 0 1em 0 0.5em;
  padding: 0;
  text-align: left;
}
#options .radio-options li {
  list-style: none;
  white-space: nowrap;
}
#options .radio-options li p {
  margin: 0;
  padding: 0;
  display: inline-block;
  color: #fff;
}
#options .radio-options:first-child {
  float: left;
}


/* collapsible
--------------------------------------------------------------------------------*/
.collapsible {
  background-color: #004781;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  border: none;
  min-width: 110px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 200ms ease-in-out;
}

#options .collapsible:active, #options .collapsible:hover {
  background-color: rgba(0, 71, 129, 0.84);
}

.toggle-bar {
  max-height: 0px;
  display: none;
  overflow: hidden;
  transition: max-height 200ms ease-in-out;
}

.settings-open {
  bottom: 107px;
}

/* PRINT PAGE
--------------------------------------------------------------------------------*/

.graph-container h2, .print-content h2 {
  text-align: center;
}

button#print-Incident,
button#print-Hazard,
button#print-week,
button#print-month,
button#print-year {
  position: absolute;
  z-index: 999;
  bottom: -15px;
  right: 0;
  cursor: pointer;
}

button#button-Incident,
button#button-Hazard,
button#button-week,
button#button-month,
button#button-year {
  z-index: 999;
  position: absolute;
  bottom: -15px;
  left: 0;
  cursor: pointer;
}

.empty-space {
  height: 530px;
  width: 100%;
}

.print {
  background: #eee;
  font-family: inherit;
  font-size: 15px;
  margin-top: 4%;
}

page[size="A4"] {
    background: white;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.1);
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    min-height: 29.7cm;
    width: 21cm;
}

.wrap {
    padding: 20mm;
}

.alignleft {
  float: left;
  width: auto;
}

.alignleft a {
  color: #004781;
}

.alignright {
  float: right;
  width: auto;
}

.actions {
    margin: -20px auto 40px;
    width: 21cm;
}

.actions .button.printnow {
    background-color: #004781;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    padding: 10px 15px;
}

.a4-header {
  text-align: center;
  margin-bottom: 35px;
}

.body-image {
  text-align: center;
  margin-bottom: 50px;
}

.footer-print {
  text-align: center;
  top: 80px;
  position: relative;
}



.Injuries-stats,
.Hazards-stats {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

/* FOOTER
--------------------------------------------------------------------------------*/
.footer {
  width: 100%;
	position: absolute;
  bottom: 0px;
	height: 50px;
	background-color: #004781;
}

.footer-container {
	text-align: center;
  width: 100px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.footer-img {
  width: 100px;
  height: auto;
}

.footer-logo {
  background: url('../images/Techtwologo-footer.png') no-repeat scroll 0 0;
  background-position: 0 -27px;
  height: 26px;
  width: 100px;
  overflow: hidden;
  transition: all ease 350ms;
}

.footer-logo:hover {
  background-position: 0 0px;
}


/* HOVER EFFECTS
--------------------------------------------------------------------------------*/

/* BRACES
--------------------------------------------*/
.hfx-braces a:hover {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.hfx-braces a::before,
.hfx-braces a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.hfx-braces a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.hfx-braces a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.hfx-braces a:hover::before,
.hfx-braces a:hover::after,
.hfx-braces a:focus::before,
.hfx-braces a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

/* MEDIA QUERIES
--------------------------------------------------------------------------------*/


/* iPads in Portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* .footer {
    top: 260px;
  } */
  .modal-content #modal-image {
    width: 100%;
    max-width: 100%;
    float: none;
  }
  .modal-content #modal-data {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 1600px) {
  .header-bar .container {
    width: 70%;
  }
}

@media screen and (max-width: 1100px) {
  .header-bar .container {
    width: 90%;
  }
}

@media screen and (max-width: 980px) {
  .container.name-container a.print-btn {
    display: none;
  }
  .modal-content #modal-image {
    width: 100%;
    max-width: 100%;
    float: none;
  }
  .modal-content #modal-data {
    float: none;
    width: 100%;
  }
  .modal-content #modal-data ul {
    border-right: 1px solid #004781;
  }
  .modal-content #modal-data ul:last-child {
    border-bottom: 1px solid #004781;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .marker-content {
    min-width: 80%;
  }
  .container {
    max-width: 100%;
    width: 100%;
  }
  .header-bar {
    height: 200px;
  }
  .header-bar .container {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%,0);
    height: 200px;
    display: block;
    align-items: : center;
    justify-content: space-between;
  }
  .float-left {
    float:none !important;
    padding: 30px 0px;
    width: 100%;
    text-align: center;
  }
  .float-right {
    float: none !important;
    display: inline-table;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 590px) {
  .toggle-bar {
    width: 90%;
  }
  .modal-dropdown select {
    width: 70%;
    margin-left: 15%;
  }
}

@media screen and (max-width: 414px) {
  .marker-content {
    min-width: 100%;
  }
  .footer {
    top: 900px;
  }
  .collapsible {
    bottom: -64px;
  }
}

@media screen and (max-width: 360px) {
  .float-right a {
    font-size: 1em;
  }
  .footer {
    top: 700px;
  }
}
