<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="icon" type="image/png" href="../static/images/favicon.png">
    <script src="heatmap/qutheatmap/static/js/Underscore.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"> </script>


</head>
<body>

<!-- --------------------------------  MAP INIT  -------------------------------- -->
<script>

var map, injuryHeatmap, hazardHeatmap;
var lat
var long
var bCode = ''
var id = ''
var html = ''
var buildingArray = [];
var incidentArray = [];
var injuryArray = [];
var imageArray = [];
var infoWindow
var hazardData = [];
var injuryData = [];

var gradient = [
    'rgba(0, 255, 255, 0)',
    'rgba(0, 255, 255, 1)',
    'rgba(0, 191, 255, 1)',
    'rgba(0, 127, 255, 1)',
    'rgba(0, 63, 255, 1)',
    'rgba(0, 0, 255, 1)',
    'rgba(0, 0, 223, 1)',
    'rgba(0, 0, 191, 1)',
    'rgba(0, 0, 159, 1)',
    'rgba(0, 0, 127, 1)',
    'rgba(63, 0, 91, 1)',
    'rgba(127, 0, 63, 1)',
    'rgba(191, 0, 31, 1)',
    'rgba(255, 0, 0, 1)'
]


/*    MAP INIT
-------------------------------------------------------------------------------------------------*/

function mapSetup() {
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 18,
    center: {lat: -27.4770627, lng: 153.0284075},
    styles: [{ featureType: 'poi.business',
      stylers: [{visibility: 'off'}]}, {
      featureType: 'poi.park',
      elementType: 'labels.text',
      stylers: [{visibility: 'off'}]
    }]
  });

  infoWindow = new google.maps.InfoWindow();
  document.getElementById('marker-info').style.pointerEvents = 'none';
  document.getElementById('marker-info').innerHTML = 'Click on a marker for more info';

  /*    INIT MARKERS
  -------------------------------------------------------------------------------------------------*/
  {% for marker in markers %}

      lat = {{ marker.lat }}
      long = {{ marker.lng }}
      var block = '{{ marker.block }}'
      bcode = '{{ marker.building_code }}'
      var point = new google.maps.LatLng(lat,long)
      html = block + " Block, (" + bcode + ")"
      var marker = createBlockMarker(point, block, map);

  {% endfor %}

  {% for aeds in aeds %}

    var description = '{{ aeds.description }}'
    lat = {{ aeds.lat }}
    long = {{ aeds.lng }}
    var point = new google.maps.LatLng(lat,long)
    var marker = createAedMarker(point, map, description);

  {% endfor %}

  {% for handicap in handicap %}

    var description = '{{ handicap.description }}'
    lat = {{ handicap.lat }}
    long = {{ handicap.lng }}
    var point = new google.maps.LatLng(lat,long)
    var marker = createHandicapMarker(point, map, description);

  {% endfor %}

  {% for hazardtables in hazardtables %}

      lat = {{ hazardtables.lat }}
      long = {{ hazardtables.lng }}
      category = '{{ hazardtables.title }}'
      description = '{{ hazardtables.description }}'
      room = '{{ hazardtables.room_number }}'
      floor = '{{ hazardtables.floor }}'
      weather = '{{ hazardtables.weather }}'
      date = '{{ hazardtables.incident_date }}'
      time = '{{ hazardtables.time }}'

      var splitString = room.split(/(\d+)/);
      if (splitString[0] != '') {
        var block = splitString[0];
      } else {
        block = "Outside"
      }

      var point = new google.maps.LatLng(lat,long)
      hazardData.push({point, category});
      incidentArray.push({category, description, room, floor, block, weather, date, time});

  {% endfor %}

  {% for injurytables in injurytables %}

      lat = {{ injurytables.lat }}
      long = {{ injurytables.lng }}
      category = '{{ injurytables.title }}'
      description = '{{ injurytables.description }}'
      room = '{{ injurytables.room_number }}'
      floor = '{{ injurytables.floor }}'
      weather = '{{ injurytables.weather }}'
      date = '{{ injurytables.incident_date }}'
      time = '{{ injurytables.time }}'

      var splitString = room.split(/(\d+)/);
      if (splitString[0] != '') {
        var block = splitString[0];
      } else {
        block = "Outside"
      }

      var point = new google.maps.LatLng(lat,long)
      injuryData.push({point, category});
      incidentArray.push({category, description, room, floor, block, weather, date, time});

  {% endfor %}

// image array
  {% for imgtables in imgtables %}

    var imgblock = '{{ imgtables.block }}'
    var imglevel = '{{ imgtables.block_level }}'
    var imgURL = '{{ imgtables.img_url }}'

    imageArray.push({imgblock, imglevel, imgURL});

  {% endfor %}


  /*    CREATE HEATMAP LAYERS
  -------------------------------------------------------------------------------------------------*/

  hazardHeatmap = new google.maps.visualization.HeatmapLayer({
    map: map,
    radius: 20
  });

  injuryHeatmap = new google.maps.visualization.HeatmapLayer({
    map: map,
    radius: 20,
    gradient: gradient
  });

}//SETUP MAP END

/*    Creates google.map.marker for building blocks
point(lat,long)
block(building code)
map(map_name)
-------------------------------------------------------------------------------------------------*/

function createBlockMarker(point, block, map) {
  var marker = new google.maps.Marker({
    map: map,
    position: point,
    icon: {url: "/static/images/blue-dot2.png", scaledSize: new google.maps.Size(35, 32)},
    label: {text: block, color: 'white'},
    title: block + ' Block'
  });
  buildingArray.push(marker);
  bindInfoBox(marker, map);
}

/*    Creates google.map.marker for AED's
point(lat,long)
map(map_name)
description(text field)
-------------------------------------------------------------------------------------------------*/

function createAedMarker(point, map, description) {
  var marker = new google.maps.Marker({
    map: map,
    position: point,
    icon: {url: "/static/images/aed.png", scaledSize: new google.maps.Size(20, 18)},
    title: 'AED Is Located in '+description+' Block'
  });
}

/*    Creates google.map.marker for Accessible Parking
point(lat,long)
map(map_name)
description(text field)
-------------------------------------------------------------------------------------------------*/

function createHandicapMarker(point, map, description) {
  var marker = new google.maps.Marker({
    map: map,
    position: point,
    icon: {url: "/static/images/wheelchair.png", scaledSize: new google.maps.Size(20, 20)},
    title: 'Accessible Parking: '+description
  });
}




/*    updateView
Used to update the heatmap markers with the filtering menu
-------------------------------------------------------------------------------------------------*/

function updateView(element, array, heatmap) {
  var temp = [];
  if (element) {
    for (i = 0; i < array.length; i++) {
      var marker = array[i];

     if (typeof marker.category === 'string' && (marker.category).indexOf(element) >= 0) {
        temp.push(new google.maps.LatLng(array[i].point.lat(), array[i].point.lng()));
      }
    }
  }
  var newData = new google.maps.MVCArray(temp);
  heatmap.set('data', newData)
}

/*    modalFilter
used within infoBox to show relevent hazards/injuries for each floor
-------------------------------------------------------------------------------------------------*/

function modalFilter(title, incidentArray, floor) {
  var strOutput = '';
  loop:
  for (var i = 0; i < incidentArray.length; i++) {
    var string = incidentArray[i].room;
    var splitString = string.split(/(\d+)/);
    var titleSplit = title.split(" ");
    if ((splitString[0] == titleSplit[0]) && floor == 'Overview') {
      var blockTemp = titleSplit[0];
      strOutput =  overviewModal(blockTemp, incidentArray);
      break loop;
    } else if ((splitString[0] == titleSplit[0]) && incidentArray[i].floor == floor) {
      strOutput += '<ul><li><h5>'+incidentArray[i].category+' - '+incidentArray[i].room+'</h5><p>Description: '+incidentArray[i].description+'</p><p>Weather: '+incidentArray[i].weather+'</p><p>Date: '+incidentArray[i].date+'</p><p>Time: '+incidentArray[i].time+'</p></li></ul>';
    }
  }
  document.getElementById('modal-data').innerHTML = strOutput;
}

/*    modalImage
used within infoBox to show the relevant image for each floor
-------------------------------------------------------------------------------------------------*/

function modalImage(title, imageArray, floor) {
  var strOutput = '';
  for (var i = 0; i < imageArray.length; i++) {
    var titleSplit = title.split(" ");
    if ((imageArray[i].imgblock == titleSplit[0]) && floor == 'Overview') {
      strOutput = '<img src="../static/images/placeholder.jpg"/>';
    } else if ((imageArray[i].imgblock == titleSplit[0]) && imageArray[i].imglevel == floor) {
      strOutput = '<img src="'+imageArray[i].imgURL+'"/>';
    }
  }
  document.getElementById('modal-image').innerHTML = strOutput;
}

/*    changeFloor
Creates the dropdown menu for each floor dynamically
-------------------------------------------------------------------------------------------------*/

function changeFloor(title, imageArray, incidentArray) {
  var optionsOutput = "<option value='Overview'>Overview</option>";
  var optionCount = 0;
  // creating floor options
  for (var i = 0; i < imageArray.length; i++) {
    var titleSplit = title.split(" ");
    if (imageArray[i].imgblock == titleSplit[0]) {
      optionCount++;
    }
  }
  for (var i = 1; i <= optionCount; i++) {
    optionsOutput += "<option value='"+i+"'>Level: "+i+"</option>";
  }
  document.getElementById('floor').innerHTML = optionsOutput;
}

/*    overviewModal
gathers data for the overview page of each block
-------------------------------------------------------------------------------------------------*/

function overviewModal(block, incidentArray) {
  var overviewString = '';
  var hazardCount = [0, 0, 0]; //Hazards, Slips, Trips
  var injuryCount = [0, 0, 0, 0]; //Injuries, Slips, Trips, Falls
  var total;

  for (var i = 0; i < incidentArray.length; i++) {
    var category = incidentArray[i].category;
    var catSplit = category.split(" ");

    var string = incidentArray[i].room;
    var splitString = string.split(/(\d+)/);

    if (catSplit[1] == "Hazard" && block == splitString[0]) {
      hazardCount[0]++;
      if (catSplit[0] == "Slip" && block == splitString[0]) {
        hazardCount[1]++;
      } else if (catSplit[0] == "Trip" && block == splitString[0]) {
        hazardCount[2]++;
      }
    } else if (catSplit[1] == "Injury" && block == splitString[0]) {
      injuryCount[0]++;
      if (catSplit[0] == "Slip" && block == splitString[0]) {
        injuryCount[1]++;
      } else if (catSplit[0] == "Trip" && block == splitString[0]) {
        injuryCount[2]++;
      } else {
        injuryCount[3]++;
      }
    }
  }
  var x = block;
  var getBlock = _.filter(incidentArray, {block: x});
  var floorID = _.pluck(getBlock,'floor');
  var countFloor = _.chain(floorID).countBy().pairs().max(_.last).head();
  var reportValue = 0;

  for (var i = 0; i < floorID.length; i++) {
    if (floorID[i] == countFloor) {
      reportValue++;
    }
  }

  total = hazardCount[0]+injuryCount[0];
  overviewString = '<div class="overview-modal-data"><h5 class="overview-total">Total: '+total+'</h5>'
                  +'<div class="overview-hazards"><h6 style="font-weight:bold;">Hazards: '+hazardCount[0]+'</h6>'
                  +'<p>Slips: '+hazardCount[1]+'</p><p>Trips: '+hazardCount[2]+'</p></div>'
                  +'<div class="overview-injuries"><h6 style="font-weight:bold;">Injuries: '+injuryCount[0]+'</h6><p>Slips: '+injuryCount[1]+'</p>'
                  +'<p>Trips: '+injuryCount[2]+'</p><p>Falls: '+injuryCount[3]+'</p></div></div>'
                  +'<h6 style="font-weight:bold;margin-top:1em;display:inline-block;padding-right:4px;">Most Reports: </h6><p style="display:inline-block;">'+reportValue+' reports on level '+countFloor+'</p>';
  return overviewString;
}


/*    Creates infobox/infowindow for block markers
marker(google.maps.marker for building markers)
map(map_name)
used to update the modal for each block
-------------------------------------------------------------------------------------------------*/
function bindInfoBox (marker, map) {
  var content = html.toString();
  google.maps.event.addListener(marker, 'click', function(html) {
    $('#marker-modal').modal('show');
    document.getElementById('block-name-modal').innerHTML = marker.title;

    changeFloor(marker.title, imageArray, incidentArray);
    modalImage(marker.title, imageArray, 'Overview');
    modalFilter(marker.title, incidentArray, 'Overview');

    var floorSelect = document.getElementById('floor');
    floorSelect.addEventListener("change", function () {
      modalImage(marker.title, imageArray, floorSelect.value);
      modalFilter(marker.title, incidentArray, floorSelect.value);
    })
  });
}

/*    RELOAD
Resets all filter radio options and reinitialises the map
-------------------------------------------------------------------------------------------------*/

function reload() {

  if (document.getElementById("Slip Hazard").checked == true) {
    document.getElementById("Slip Hazard").checked = false;
  }
  if (document.getElementById("Trip Hazard").checked == true) {
    document.getElementById("Trip Hazard").checked = false;
  }
  if (document.getElementById("Hazard").checked == true) {
    document.getElementById("Hazard").checked = false;
  }
  if (document.getElementById("Slip Injury").checked == true) {
    document.getElementById("Slip Injury").checked = false;
  }
  if (document.getElementById("Trip Injury").checked == true) {
    document.getElementById("Trip Injury").checked = false;
  }
  if (document.getElementById("Fall Injury").checked == true) {
    document.getElementById("Fall Injury").checked = false;
  }
  if (document.getElementById("Injury").checked == true) {
    document.getElementById("Injury").checked = false;
  }

  mapSetup();
}

/*    ToggleHeatmap
toggles heatmap layers visibility on the map
-------------------------------------------------------------------------------------------------*/
function toggleHeatmap(heatmap) {
  heatmap.setMap(heatmap.getMap() ? null : map);
}


/*    COLLAPSIBLE
-------------------------------------------------------------------------------------------------*/

function collapseToggle() {
  document.getElementById("collapsible").classList.toggle("active");
  document.getElementById("collapsible").classList.toggle("settings-open");
  var content = document.getElementById("toggle-bar");
  if (content.style.display === "block") {
    content.style.display = "none";
  } else {
    content.style.display = "block";
  }
  if (content.style.maxHeight){
  content.style.maxHeight = null;
  } else {
    content.style.maxHeight = content.scrollHeight + "px";
  }
}

</script>

<!-- ------------------------------  MAP INIT END  ------------------------------ -->

<!-- ---------------------------------  HEADER  --------------------------------- -->

<div class="header-bar">
    <div class="container">
        <div class="float-left">
            <img src="/static/images/logo-bg.jpg" alt="QUT Heatmap" height="70" width="235">
        </div>
        <div class="float-right hfx-braces">
            <a target="_blank" href="https://quthse.saasitau.com/Default.aspx">Report Incident</a>
            <a data-toggle="modal" data-target="#incident-modal">HSE Contact</a>
        </div>
    </div>
</div>

<!-- MODAL START -->
<div id="incident-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">HSE CONTACT</h4>
            </div>
            <div class="modal-body">
                <p>Health, Safety and Environment</p>
                <p>Phone: 3138 4130</p>
                <p>hse@qut.edu.au</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="marker-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="block-name-modal"></h4>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            <div class="modal-dropdown">
              <div class="modal-floor-select">
                <select id="floor" name="floor">
                  <option value="">Floor</option>
                </select>
              </div>
            </div>
            <div class="modal-body">
              <div id="modal-image"></div>
              <div id="modal-data"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- -------------------------------  HEADER END  ------------------------------- -->

<!-- -----------------------------------  MAP  ---------------------------------- -->

<div id="floating-panel" class="map-container">
  <div id=map>
  </div>
  <button id="collapsible" class="collapsible" onclick="collapseToggle()">Filter Options</button>
  <div id="toggle-bar" class="toggle-bar hfx-braces">
  <form >
    <div id="options">
      <div class="filter-content">
        <div class="radio-options">
          <ul>
            <li class="option-titles hfx-braces"><a class="map-toggle-btn" onclick="toggleHeatmap(hazardHeatmap)">Toggle Hazards</a></li>
            <li><input type="radio" class="radio-filter" name="test" id="Slip Hazard" value="Slip Hazard" onclick="updateView(this.value, hazardData, hazardHeatmap);"><p>Slip Hazard</p></input></li>
            <li><input type="radio" class="radio-filter" name="test" id="Trip Hazard" value="Trip Hazard" onclick="updateView(this.value, hazardData, hazardHeatmap);"><p>Trip Hazard</p></input></li>
            <li><input type="radio" class="radio-filter" name="test" id="Hazard" value="Hazard" onclick="updateView(this.value, hazardData, hazardHeatmap);"><p>ALL</p></input></li>
          </ul>
        </div>
        <div class="radio-options">
          <ul>
            <li class="option-titles hfx-braces"><a class="map-toggle-btn" onclick="toggleHeatmap(injuryHeatmap)">Toggle Injuries</a></li>
            <li><input type="radio" class="radio-filter" name="test1" id="Slip Injury" value="Slip Injury" onclick="updateView(this.value, injuryData, injuryHeatmap);"><p>Slip Injury</p></input></li>
            <li><input type="radio" class="radio-filter" name="test1" id="Trip Injury" value="Trip Injury" onclick="updateView(this.value, injuryData, injuryHeatmap);"><p>Trip Injury</p></input></li>
            <li><input type="radio" class="radio-filter" name="test1" id="Fall Injury" value="Fall Injury" onclick="updateView(this.value, injuryData, injuryHeatmap);"><p>Fall Injury</p></input></li>
            <li><input type="radio" class="radio-filter" name="test1" id="Injury" value="Injury" onclick="updateView(this.value, injuryData, injuryHeatmap);"><p>ALL</p></input></li>
          </ul>
        </div>
        <a class="map-reset-btn" onclick="reload()">reset</a>
      </div>
    </div>
  </form>


  </div>
  <div class="container name-container">
      <a id="marker-info" class="block-name-link" data-toggle="modal" data-target="#marker-modal"></a>
  </div>
  <div class="container name-container">
      <a class="print-btn" href="/qutheatmap/print-overview">Statistics Overview</a>
  </div>
</div>
<!-- ---------------------------------  MAP END  -------------------------------- -->

<!-- ---------------------------------  FOOTER  --------------------------------- -->
<div class="footer">
	<div class="footer-container">
    <div class="footer-img">
		    <div class="footer-logo"></div>
      </div>
	</div>
</div>

<!-- -------------------------------  FOOTER END  ------------------------------- -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlnUEJd46ut1A1K4mYQUkuzwF0iLYqJXQ&libraries=visualization&callback=mapSetup"></script>
</body>
</html>
