<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="icon" type="image/png" href="../static/images/favicon.png">


</head>
<body>

<!-- --------------------------------  MAP INIT  -------------------------------- -->
<script>

var map, injuryHeatmap, hazardHeatmap;
var lat
var long
var block = ''
var bCode = ''
var id = ''
var html = ''
var buildingArray = [];
var hazardArray = [];
var injuryArray = [];
var infoWindow

var gradient = [
    'rgba(0, 255, 255, 0)',
    'rgba(0, 255, 255, 1)',
    'rgba(0, 191, 255, 1)',
    'rgba(0, 127, 255, 1)',
    'rgba(0, 63, 255, 1)',
    'rgba(0, 0, 255, 1)',
    'rgba(0, 0, 223, 1)',
    'rgba(0, 0, 191, 1)',
    'rgba(0, 0, 159, 1)',
    'rgba(0, 0, 127, 1)',
    'rgba(63, 0, 91, 1)',
    'rgba(127, 0, 63, 1)',
    'rgba(191, 0, 31, 1)',
    'rgba(255, 0, 0, 1)'
]


/*    MAP INIT
-------------------------------------------------------------------------------------------------*/

function mapSetup() {
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 18,
    center: {lat: -27.4770627, lng: 153.0284075},
    styles: [{ featureType: 'poi.business',
      stylers: [{visibility: 'off'}]}, {
      featureType: 'poi.park',
      elementType: 'labels.text',
      stylers: [{visibility: 'off'}]
    }]
  });

  infoWindow = new google.maps.InfoWindow();

  document.getElementById('marker-info').innerHTML = 'QUT MAP';

  /*    INIT MARKERS
  -------------------------------------------------------------------------------------------------*/
  if (buildingArray.length == 0) {
    {% for marker in markers %}

        lat = {{ marker.lat }}
        long = {{ marker.lng }}
        block = '{{ marker.block }}'
        bcode = '{{ marker.building_code }}'
        var point = new google.maps.LatLng(lat,long)
        html = block + " Block, (" + bcode + ")"
        var marker = createBlockMarker(point, block, map);

    {% endfor %}
  }

  if (hazardArray.length == 0) {
    {% for hazardinsides in hazardinsides %}

    lat = {{ hazardinsides.lat }}
    long = {{ hazardinsides.lng }}
    id = '{{ hazardinsides.title }}'

    var point = new google.maps.LatLng(lat,long)
    var marker = createHeatmapMarker(point, id, map, hazardArray);

    {% endfor %}
    console.log('I just created a hazardArray for you - length: ' + hazardArray.length);
  }

  if (injuryArray.length == 0) {
    {% for injuryinsides in injuryinsides %}

        lat = {{ injuryinsides.lat }}
        long = {{ injuryinsides.lng }}
        id = '{{ injuryinsides.id }}'
        var point = new google.maps.LatLng(lat,long)
        var marker = createHeatmapMarker(point, id, map, injuryArray);

    {% endfor %}
    console.log('I just created an injuryArray for you - length: ' + injuryArray.length);
  }

  /*    CREATE HEATMAP LAYERS
  -------------------------------------------------------------------------------------------------*/

  hazardHeatmap = new google.maps.visualization.HeatmapLayer({
    data: getPoints(hazardArray),
    id: 'yes',
    map: map
  });

  injuryHeatmap = new google.maps.visualization.HeatmapLayer({
    data: getPoints(injuryArray),
    map: map
  });

  hazardHeatmap.set('radius', hazardHeatmap.get('radius') ? null : 20);
  injuryHeatmap.set('radius', injuryHeatmap.get('radius') ? null : 20);
  injuryHeatmap.set('gradient', injuryHeatmap.get('gradient') ? null : gradient);

  setMapOnAll(buildingArray, map);

}//SETUP MAP END

/*    Creates google.map.marker for building blocks
point(lat,long)
block(building code)
map(map_name)
-------------------------------------------------------------------------------------------------*/

function createBlockMarker(point, block, map) {
  var marker = new google.maps.Marker({
    map: map,
    position: point,
    icon: {url: "/static/images/blue-dot2.png", scaledSize: new google.maps.Size(35, 32)},
    label: {text: block, color: 'white'},
    title: block + ' Block'
  });
  var html = block + " Block, (" + bcode + ")"
  buildingArray.push(marker);
  bindInfoWindow(marker, map, infoWindow);
  bindInfoBox(marker, map);
}


/*    Creates google.map.marker for heatmap markers
point(lat,long)
id(injury/hazard id)
map(map_name)
array(name of array it is creating points for)
-------------------------------------------------------------------------------------------------*/
function createHeatmapMarker(point, id, map, array) {
  var heatmapMarker = new google.maps.Marker({
    map: map,
    position: point,
    icon: {url: "", scaledSize: new google.maps.Size(0, 0)},
    title: id
  });
  array.push(heatmapMarker);
}


/*    Creates infobox/infowindow for block markers
marker(google.maps.marker for building markers)
map(map_name)
array(name of array it is creating points for)
-------------------------------------------------------------------------------------------------*/
function bindInfoBox (marker, map, infoWindow) {
  var content = html.toString();
  google.maps.event.addListener(marker, 'click', function(html) {
    document.getElementById('marker-info').innerHTML = content;
  });
}

function bindInfoWindow (marker, map, infoWindow) {
  var content = html.toString();
  google.maps.event.addListener(marker, 'mouseover', function(html) {
    infoWindow.setContent(content);
    infoWindow.open(map, this);
    google.maps.event.addListener(marker, 'mouseout', function(html){
        infoWindow.close(map,this);
    });
  });
}

/*    getPoints
gets points from array and converts them into an array of lat and long google objects
ARGS(array)
array(name of array it is using)

RETURNS(latlng)
latlng(array containing googlemaps objects of lat and long coords)
-------------------------------------------------------------------------------------------------*/
function getPoints(array) {
  var latlng = [];
  for (var i = 0; i < array.length; i++) {
    var myLatLng = new google.maps.LatLng(array[i].getPosition().lat(), array[i].getPosition().lng());
    latlng.push(myLatLng);
  }
  return (latlng);
}

/*    MARKER SHOW/HIDE
setMapOnAll/clearMarkers **NOTE only works with building markers
args(array,map)
array(array to use with)
map(select what map to append to **NOTE - can also set use null to hide marker)
NOTE - neither of these functions are called anywhere and clearMarkers offers no useful functionality
as is.
-------------------------------------------------------------------------------------------------*/

function setMapOnAll(array, map) {
  for (var i = 0; i < array.length; i++) {
    array[i].setMap(map);
  }
}
//THIS FUNCTION IS FOR TESTING AND SHOULD BE MODIFIED TO HIDE SPECIFIC MARKERS
// if you use both slips and trips array.length goes to 0 which causes the array to populate
function clearMarkers(array, filter) {
  for (var i = 0; i < (array.length); i++) {
      if( array[i].title === filter){
        array.splice(i, 1);
        i--;
        console.log('I have removed an item - new array length: ' + array.length);
      }
  }
  mapSetup();
}

function toggleHeatmap(heatmap) {
  heatmap.setMap(heatmap.getMap() ? null : map);
}

function reload() {
  buildingArray = [];
  hazardArray = [];
  injuryArray = [];
  mapSetup();
}

</script>

<!-- ------------------------------  MAP INIT END  ------------------------------ -->

<!-- ---------------------------------  HEADER  --------------------------------- -->

<div class="header-bar">
    <div class="container">
        <div class="float-left">
            <img src="/static/images/logo-bg.jpg" alt="QUT Heatmap" height="70" width="235">
        </div>
        <div class="float-right hfx-braces">
            <a target="_blank" href="https://quthse.saasitau.com/Default.aspx">Report Incident</a>
            <a data-toggle="modal" data-target="#incident-modal">HSE Contact</a>
        </div>
    </div>
</div>

<!-- MODAL START -->
<div id="incident-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">HSE CONTACT</h4>
            </div>
            <div class="modal-body">
                <p>Health, Safety and Environment</p>
                <p>Phone: 3138 4130</p>
                <p>hse@qut.edu.au</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="marker-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">BLOCK NAME</h4>
            </div>
            <div class="modal-body">
                <p>CONTACT DETAILS</p>
                <p>INFO</p>
                <p>ETC</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- -------------------------------  HEADER END  ------------------------------- -->

<!-- -----------------------------------  MAP  ---------------------------------- -->

<div id="floating-panel" class="map-container">
  <div id=map>
  </div>
  <div class="toggle-bar hfx-braces">
    <a class="map-toggle-btn" onclick="toggleHeatmap(hazardHeatmap)">Toggle Hazards</a>
    <a class="map-toggle-btn" onclick="toggleHeatmap(injuryHeatmap)">Toggle Injuries</a>
    <a class="map-toggle-btn" onclick="clearMarkers(hazardArray, 'Trip Hazard')">Trip Hazard</a>
    <a class="map-toggle-btn" onclick="clearMarkers(hazardArray, 'Slip Hazard')">Slip Hazard</a>
    <a class="map-toggle-btn" onclick="reload()">reset</a>
  </div>
  <div class="container name-container">
      <a id="marker-info" class="block-name-link" data-toggle="modal" data-target="#marker-modal"></a>
  </div>
</div>
<div class="container content-container">
  <!-- <h2 class="map-heading">INJURY MAP</h2> -->
  <div class="marker-content">
    <div id="injury-marker-info">
    </div>
  </div>
</div>

<!-- ---------------------------------  MAP END  -------------------------------- -->

<!-- -----------------------------------  DATA TEST  ---------------------------- -->

<!-- <div class="container">
    <h6>
            {%  for hazardinsides in hazardinsides %}
                <li>Title: {{ hazardinsides.title }}</li>
                <li>Description: {{ hazardinsides.descrption }}</li>
                <li>Lat: {{ hazardinsides.lat }}</li>
                <li>Long: {{ hazardinsides.lng }}</li>
                <li>Block: {{ hazardinsides.room_number }}</li>
                <li>Description: {{ hazardinsides.floor }}</li> <br>
            {% endfor %}
    </h6>
</div> -->

<!-- --------------------------------  DATA TEST END ---------------------------- -->

<!-- ---------------------------------  FOOTER  --------------------------------- -->
<div class="footer">
	<div class="footer-container">
    <div class="footer-img">
		    <div class="footer-logo"></div>
      </div>
	</div>
</div>

<!-- -------------------------------  FOOTER END  ------------------------------- -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlnUEJd46ut1A1K4mYQUkuzwF0iLYqJXQ&libraries=visualization&callback=mapSetup"></script>
</body>
</html>
