<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="icon" type="image/png" href="../static/images/favicon.png">

</head>
<body>

<!-- --------------------------------  MAP INIT  -------------------------------- -->
<script>
var map, heatmapvis;

function toggleHeatmap(){
     window.location.href = "http://127.0.0.1:8000/hazardmap/";
}
function toggleInjurymap(){
     window.location.href = "http://127.0.0.1:8000/qutinjurymap/";
}

    function mapSetup() {

        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            center: {lat: -27.4770627, lng: 153.0284075},
            styles:
            [{
              featureType: 'poi.business', stylers: [{visibility: 'off'}]},
                {featureType: 'poi.park',elementType: 'labels.text',stylers: [{visibility: 'off'}]
            }]
        });

        document.getElementById('marker-info').innerHTML = 'QUT MAP';

        //todo descriptions

        {% for marker in markers %}

            var testLat = {{ marker.lat }}
            var testLng = {{ marker.lng }}
            var testLbl = '{{ marker.block }}'

            var qut = {lat: testLat, lng: testLng};

            var infowindow = new google.maps.InfoWindow();

            var mapmarker = new google.maps.Marker({
                position: qut, map: map, icon: {
                    url: "/static/images/blue-dot2.png",
                    scaledSize: new google.maps.Size(35, 32)
                },
                label: {
                    text: testLbl,
                    color: 'white',
                },
                title: testLbl + ' Block'
            });

            //MOUSEOVER INFORMATION
            google.maps.event.addListener(mapmarker, 'mouseover', (function(mapmarker,infowindow){
                return function() {
                    var contentString ='<div class="info-window-content"'+'<div id="content">'+
                    '<div id="siteNotice">'+
                    '</div>'+
                    '<h1 id="firstHeading" class="firstHeading">{{ marker.description }}, {{ marker.building_code }}</h1>'
                    '</div></div>';
                    infowindow.setContent(contentString);
                    infowindow.open(map,mapmarker);
                    google.maps.event.addListener(mapmarker,'mouseout', function(mapmarker){
                        infowindow.close(map,mapmarker);
                    });
                };
          })(mapmarker,infowindow));

          //ONCLICK DISPLAY INFO
          google.maps.event.addListener(mapmarker, 'click', (function(mapmarker) {
            return function() {
              var contentString ='<div class="info-window-content"'+'<div id="content">'+
                '<div id="siteNotice">'+
                '</div>'+
                '<a class="block-name-link" data-toggle="modal" data-target="#marker-modal">{{ marker.description }} ({{ marker.building_code }})</a>'
                // '<p>Lat: {{ hazardinsides.lat }}</p>'
                // '<p>Long: {{ hazardinsides.lng }}</p>'
                // '<p>Block: {{ hazardinsides.room_number }}</p>'
                // '<p>Description: {{ hazardinsides.floor }}</p>'
                '</div></div>';
              document.getElementById('marker-info').innerHTML = contentString;
            }
          })(mapmarker));

        {% endfor %}

        {#heatmapvis = new google.maps.visualization.HeatmapLayer({#}
        {#data: [new google.maps.LatLng(-27.476836, 153.028158)],#}
        {# map: map#}
        {#});#}

    }

    // <li>Title: {{ hazardinsides.title }}</li>
    // <li>Description: {{ hazardinsides.descrption }}</li>
    // <li>Lat: {{ hazardinsides.lat }}</li>
    // <li>Long: {{ hazardinsides.lng }}</li>
    // <li>Block: {{ hazardinsides.room_number }}</li>
    // <li>Description: {{ hazardinsides.floor }}</li> <br>


    //Custom maps
    //https://mapstyle.withgoogle.com/

</script>

<!-- ------------------------------  MAP INIT END  ------------------------------ -->

<!-- ---------------------------------  HEADER  --------------------------------- -->

<div class="header-bar">
    <div class="container">
        <div class="float-left">
            <img src="/static/images/logo-bg.jpg" alt="QUT Heatmap" height="70" width="235">
        </div>
        <div class="float-right hfx-braces">
            <a target="_blank" href="https://quthse.saasitau.com/Default.aspx">Report Incident</a>
            <a data-toggle="modal" data-target="#incident-modal">HSE Contact</a>
        </div>
    </div>
</div>

<!-- MODAL START -->
<div id="incident-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">HSE CONTACT</h4>
            </div>
            <div class="modal-body">
                <p>Health, Safety and Environment</p>
                <p>Phone: 3138 4130</p>
                <p>hse@qut.edu.au</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="marker-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">BLOCK NAME</h4>
            </div>
            <div class="modal-body">
                <p>CONTACT DETAILS</p>
                <p>INFO</p>
                <p>ETC</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- -------------------------------  HEADER END  ------------------------------- -->

<!-- -----------------------------------  MAP  ---------------------------------- -->

<div id="floating-panel" class="map-container">
  <div id=map>
  </div>
  <div id="marker-info">
  </div>
  <div class="toggle-bar hfx-braces">
    <a class="map-toggle-btn" onclick="toggleHeatmap()">Toggle Hazardmap: Off</a>
      <a class="map-toggle-btn" onclick="toggleInjurymap()">Toggle Injurymap: Off</a>
  </div>
</div>

<!-- ---------------------------------  MAP END  -------------------------------- -->

<!-- -----------------------------------  DATA TEST  ---------------------------- -->

<!-- <div class="container">
    <h6>
            {%  for hazardinsides in hazardinsides %}
                <li>Title: {{ hazardinsides.title }}</li>
                <li>Description: {{ hazardinsides.descrption }}</li>
                <li>Lat: {{ hazardinsides.lat }}</li>
                <li>Long: {{ hazardinsides.lng }}</li>
                <li>Block: {{ hazardinsides.room_number }}</li>
                <li>Description: {{ hazardinsides.floor }}</li> <br>
            {% endfor %}
    </h6>
</div> -->

<!-- --------------------------------  DATA TEST END ---------------------------- -->

<!-- ---------------------------------  FOOTER  --------------------------------- -->
<div class="footer">
	<div class="footer-container">
    <div class="footer-img">
		    <div class="footer-logo"></div>
      </div>
	</div>
</div>

<!-- -------------------------------  FOOTER END  ------------------------------- -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlnUEJd46ut1A1K4mYQUkuzwF0iLYqJXQ&libraries=visualization&callback=mapSetup"></script>
</body>
</html>
