<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="icon" type="image/png" href="../static/images/favicon.png">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="heatmap/qutheatmap/static/js/Underscore.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"> </script>



</head>
<body class="print">
  <script>

  var lat
  var long
  var block = ''
  var bCode = ''
  var id = ''
  var html = ''
  var buildingArray = [];
  var hazardArray = [];
  var injuryArray = [];
  var graphData1 = [];
  var graphData2 = [];

  window.onload = function () {
    var dataPoints = [];

/*    INIT DATA
-------------------------------------------------------------------------------------------------*/
  {% for marker in markers %}

      lat = {{ marker.lat }}
      long = {{ marker.lng }}
      block = '{{ marker.block }}'
      bcode = '{{ marker.building_code }}'
      html = block + " Block, (" + bcode + ")"

  {% endfor %}

  {% for hazardtables in hazardtables %}

      lat = {{ hazardtables.lat }}
      long = {{ hazardtables.lng }}
      category = '{{ hazardtables.title }}'
      description = '{{ hazardtables.description }}'
      room = '{{ hazardtables.room_number }}'
      floor = '{{ hazardtables.floor }}'
      weather = '{{ hazardtables.weather }}'
      date = '{{ hazardtables.incident_date }}'
      time = '{{ hazardtables.time }}'

      var splitString = room.split(/(\d+)/);
      if (splitString[0] != '') {
        block = splitString[0]+" Block";
      } else {
        block = "Outside"
      }
      hazardArray.push({block, category, description, weather, date, time});

  {% endfor %}

  {% for injurytables in injurytables %}

      lat = {{ injurytables.lat }}
      long = {{ injurytables.lng }}
      category = '{{ injurytables.title }}'
      description = '{{ injurytables.description }}'
      room = '{{ injurytables.room_number }}'
      floor = '{{ injurytables.floor }}'
      weather = '{{ injurytables.weather }}'
      date = '{{ injurytables.incident_date }}'
      time = '{{ injurytables.time }}'

      var splitString = room.split(/(\d+)/);
      if (splitString[0] != '') {
        block = splitString[0]+" Block";
      } else {
        block = "Outside"
      }
      injuryArray.push({block, category, description, weather, date, time});

  {% endfor %}

  /*    OVERVIEW STATS / ADV OVERVIEW STATS
  used to calculate statistics such as total / most occuring
  appends all to string and writes to DOM
  -------------------------------------------------------------------------------------------------*/
function overviewStats(array, type) {
  var string = '';
  var total = array.length;
  var countType = _.countBy(array, function(array){return array.category});;
  string = "<div class='"+type+"-stats'><h2 style='text-align:left;'>"+type+"</h2>";
  for (var i = 0; i < Object.keys(countType).length; i++) {
    string += "<p>"+Object.keys(countType)[i]+": "+Object.values(countType)[i]+"</p>"
  }
  string += "</div>";
  return string + advStats(array, type);
}

function advStats(array, type) {
  var string = '';
  var blockID = _.pluck(array,'block');
  var mostBlock = _.chain(blockID).countBy().pairs().max(_.last).head();
  var reportValue = 0;

  for (var i = 0; i < blockID.length; i++) {
    if (blockID[i] == mostBlock) {
      reportValue++;
    }
  }
  string = "<div class='"+type+"-stats'><p>Location with most reports: "+mostBlock+"</p><p>Total reports: "+reportValue+" ("+mostBlock+")</p></div>";
  return string;
}

var statisticsString = "<h1 style='text-align:center;'>Statistics</h1><hr>";
statisticsString += overviewStats(injuryArray, "Injuries");
statisticsString += overviewStats(hazardArray, "Hazards")+"<hr>";

document.getElementById('print-overview').innerHTML = statisticsString;







/*    CONVERT DATE TO TIME
used to convert data into dateTime objects and adds them to array ready to graph
-------------------------------------------------------------------------------------------------*/
function convertToDateTime(array, data, type) {
  var myDate = [];
  graphData1 = [];
  graphData2 = [];


  for (var i = 0; i < array.length; i++) {
    var dateString = (array[i].date).split("-");
    var timeString = (array[i].time).split(":");
    if (timeString[0] - 12 > 0) {
      timeString[0] = timeString[0] - 12;
    }
    myDate.push(new Date(dateString[0], dateString[1] - 1, dateString[2], timeString[0], timeString[1], '00'));
  }

  if (type == 'week') {
    var yaxis = _.countBy(myDate, function(num){ return new Date(num).getDay();});
    var min = new Date(_.min(myDate, function(num){ return new Date(num).getDay();})).getDay();
    var max = new Date(_.max(myDate, function(num){ return new Date(num).getDay();})).getDay();
    var xAxis = ['Mon', 'Tues', 'Weds', 'Thurs', 'Fri', 'Sat', 'Sun'];
  } else if (type == 'month') {
    var yaxis = _.countBy(myDate, function(num){ return new Date(num).getMonth();});
    var min = new Date(_.min(myDate, function(num){ return new Date(num).getMonth();})).getMonth();
    var max = new Date(_.max(myDate, function(num){ return new Date(num).getMonth();})).getMonth();
    var xAxis = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
  } else {
    var yaxis = _.countBy(myDate, function(num){ return new Date(num).getFullYear();});
    var min = new Date(_.min(myDate, function(num){ return new Date(num).getFullYear();})).getFullYear();
    var max = new Date(_.max(myDate, function(num){ return new Date(num).getFullYear();})).getFullYear();
  }

  var count = 0;
  for (var i = min; i <= max; i++) {
      if (Object.keys(yaxis)[count] == i) {
        if (type != 'year'){
          data.push({x: i+1 , y: Object.values(yaxis)[count], label: xAxis[i] });
          count++;
        } else {
          data.push({x: i , y: Object.values(yaxis)[count]});
          count++;
        }
      } else {
        if (type != 'year') {
          data.push({x: i , y: 0, label: xAxis[i] });
        } else {
          data.push({x: i , y: 0 });
        }
      }
  }
  return data;
}

/*    CONVERT TO PIE DATA
used to collate all the data to be used for graphing pie charts
-------------------------------------------------------------------------------------------------*/
function convertToPieData(array, type) {
  var pieDataBlock = [];
  pieDataBlock = _.countBy(array, function(array){return array.block});
  var pieData = [];

  for (var i = 0; i < Object.keys(pieDataBlock).length; i++) {
    pieData.push({x: i, y: Object.values(pieDataBlock)[i], label: Object.keys(pieDataBlock)[i]});
  }

  //setting up data to graph
  var pieTitle = type+'s per block';
  pieGraph(pieTitle, type, pieData);
}

/*    CONVERT TO GRAPH DATA
used to collate all the data to be used for graphing line charts
-------------------------------------------------------------------------------------------------*/
function createGraphData(type) {
  var data1 = convertToDateTime(injuryArray, graphData1, type);
  var data2 = convertToDateTime(hazardArray, graphData2, type);
  var title = "Incidents  "+type+"ly";
  // INPUTS: title, data1, data1Color, data2, data2Color
  areaGraph(title, type, data1, "blue", data2, "green");
}

// Turns data from hazards and injuries into pie charts
convertToPieData(hazardArray, 'Hazard');
convertToPieData(injuryArray, 'Incident');

//create time graphs
var data1 = 0;
var data2 = 0;
//GRAPH WEEK
createGraphData('week');
//GRAPH MONTH
createGraphData('month');
//GRAPH YEAR
createGraphData('year');



/*    PIE GRAPH
setting up pie graph settings to be used on graphs
-------------------------------------------------------------------------------------------------*/
function pieGraph(title, type, data) {
  var divID = "chartContainer-"+type;
  var hazardChart;
  var incidentChart;

  if (type == "Hazard") {
    hazardChart = new CanvasJS.Chart(divID,
    {
      animationEnabled: false,
      title: {
        text: title
      },
      axisX: {
        title: "Blocks",
        interval: 1,
        labelAngle: 90
      },
      data: [{
		type: "column",
		dataPoints: data
	}]
    });
    hazardChart.render();
    //enables swapping graph types
    document.getElementById("button-Hazard").addEventListener("click", function(){
      var x = document.getElementById("button-Hazard");
      x.classList.toggle("toggle-on");
      if (x.classList.contains("toggle-on")) {
        hazardChart.data[0].set("type", "pie", false);
        hazardChart.data[0].set("startAngle", 0);
        hazardChart.data[0].set("indexLabel", "{label}: {y}");
      } else {
        hazardChart.data[0].set("type", "column", true);
        hazardChart.data[0].set("indexLabel", "");
      }
    })
    document.getElementById("print-Hazard").addEventListener("click", function(){
      hazardChart.print();
    })
  } else {
    incidentChart = new CanvasJS.Chart(divID,
    {
      animationEnabled: false,
      title: {
        text: title
      },
      axisX: {
        title: "Blocks",
        interval: 1,
        labelAngle: 90
      },
      data: [{
    type: "column",
    dataPoints: data
  }]
    });
    incidentChart.render();
    //enables swapping graph types
    document.getElementById("button-Incident").addEventListener("click", function(){
      var x = document.getElementById("button-Incident");
      x.classList.toggle("toggle-on");
      if (x.classList.contains("toggle-on")) {
        incidentChart.data[0].set("type", "pie", false);
        incidentChart.data[0].set("startAngle", 0);
        incidentChart.data[0].set("indexLabel", "{label}: {y}");
      } else {
        incidentChart.data[0].set("type", "column", true);
        incidentChart.data[0].set("indexLabel", "");
      }
    })
    document.getElementById("print-Incident").addEventListener("click", function(){
      incidentChart.print();
    })
  }
}

/*    AREA/LINE graphs
setting up AREA/LINE graph settings to be used on graphs
-------------------------------------------------------------------------------------------------*/
  function areaGraph(title, type, data1, data1Color, data2, data2Color) {
    var divID = "chartContainer-"+type;
    var weekChart;
    var monthChart;
    var yearChart;

    if (type == 'week') {
      weekChart = new CanvasJS.Chart(divID,
      {
        title: {
          text: title
        },
        axisX: {
          title: "Day",
        },
        axisY: {
          title: "Incidents",
        },
          data: [
        {
          type: "area",
          fillOpacity: 0.3,
          showInLegend: true,
          legendText: "Injuries",
          color: data1Color,
          dataPoints: data1
        },
        {
          type: "area",
          fillOpacity: 0.3,
          showInLegend: true,
          legendText: "Hazards",
          color: data2Color,
          dataPoints: data2
        }
        ]
      });
      weekChart.render();
      //enables swapping graph types
      document.getElementById("button-week").addEventListener("click", function(){
        var x = document.getElementById("button-week");
        x.classList.toggle("toggle-on");
        if (x.classList.contains("toggle-on")) {
          weekChart.data[0].set("type", "column", false);
          weekChart.data[1].set("type", "column", false);
          weekChart.axisX[0].set("interval", 1);
        } else {
          weekChart.data[0].set("type", "area", false);
          weekChart.data[1].set("type", "area", true);
        }
      })
      document.getElementById("print-week").addEventListener("click", function(){
        weekChart.print();
      })
    } else if (type =='month') {
      monthChart = new CanvasJS.Chart(divID,
      {
        title: {
          text: title
        },
        axisX: {
          title: "Month",
        },
        axisY: {
          title: "Incidents",
        },
          data: [
        {
          type: "area",
          showInLegend: true,
          legendText: "Injuries",
          fillOpacity: 0.3,
          color: data1Color,
          dataPoints: data1
        },
        {
          type: "area",
          showInLegend: true,
          legendText: "Hazards",
          fillOpacity: 0.3,
          color: data2Color,
          dataPoints: data2
        }
        ]
      });
      monthChart.render();
      //enables swapping graph types
      document.getElementById("button-month").addEventListener("click", function(){
        var x = document.getElementById("button-month");
        x.classList.toggle("toggle-on");
        if (x.classList.contains("toggle-on")) {
          monthChart.data[0].set("type", "column", false);
          monthChart.data[1].set("type", "column", false);
          monthChart.axisX[0].set("interval", 1);
        } else {
          monthChart.data[0].set("type", "area", false);
          monthChart.data[1].set("type", "area", true);
        }
      })
      document.getElementById("print-month").addEventListener("click", function(){
        monthChart.print();
      })
    } else {
      yearChart = new CanvasJS.Chart(divID,
      {
        title: {
          text: title
        },
        axisX: {
          interval: 1,
          title: "Year",
        },
        axisY: {
          title: "Incidents",
        },
          data: [
        {
          type: "area",
          showInLegend: true,
          legendText: "Injuries",
          fillOpacity: 0.3,
          color: data1Color,
          dataPoints: data1
        },
        {
          type: "area",
          fillOpacity: 0.3,
          showInLegend: true,
          legendText: "Hazards",
          color: data2Color,
          dataPoints: data2
        }
        ]
      });
      yearChart.render();
      //enables swapping graph types
      document.getElementById("button-year").addEventListener("click", function(){
        var x = document.getElementById("button-year");
        x.classList.toggle("toggle-on");
        if (x.classList.contains("toggle-on")) {
          yearChart.data[0].set("type", "column", false);
          yearChart.data[1].set("type", "column", false);
          yearChart.axisX[0].set("interval", 1);
        } else {
          yearChart.data[0].set("type", "area", false);
          yearChart.data[1].set("type", "area", true);
        }
      })
      document.getElementById("print-year").addEventListener("click", function(){
        yearChart.print();
      })
    }
  }
}

  </script>

  <div class="actions navbar">

    <div class="alignleft">
      <a href="/qutheatmap/">« Back to Home</a>
    </div>

    <div class="alignright">
      <a href="#" onclick="window.print();return false" class="button printnow">Print Overview</a>
    </div>

  </div>

  <page size="A4">
    <div class=wrap>
      <div class="a4-header">
        <img src="/static/images/logo-bg.jpg" alt="QUT Heatmap" height="70" width="235">
      </div>
      <div class="body-image">
        <img src="/static/images/qut-gp.jpg" alt="QUT Gardens Point" height="300" width="400">
      </div>
        <div class=print-content id="print-overview">

        </div>
        <div class="empty-space">
        </div>

        <div class="graph-container">
          <h2>Graph Statistics</h2>
          <hr>
          <div style="position:relative;">
            <div id="chartContainer-Incident" style="height: 300px; width: 100%;margin:1.5em 0em;"></div>
            <button id="print-Incident">Print Chart</button>
            <span id="display"></span>
            <button id="button-Incident">Toggle Chart Type</button>
            <span id="display"></span>
          </div>
          <div style="position:relative;">
            <div id="chartContainer-Hazard" style="height: 300px; width: 100%;margin:1.5em 0em;"></div>
            <button id="print-Hazard">Print Chart</button>
            <span id="display"></span>
            <button id="button-Hazard">Toggle Chart Type</button>
              <span id="display"></span>
          </div>
          <div style="position:relative;">
            <div id="chartContainer-week" style="height: 300px; width: 100%;margin:1.5em 0em;"></div>
            <button id="print-week">Print Chart</button>
            <span id="display"></span>
            <button id="button-week">Toggle Chart Type</button>
              <span id="display"></span>
          </div>
          <div style="position:relative;">
            <div id="chartContainer-month" style="height: 300px; width: 100%;margin:1.5em 0em;"></div>
            <button id="print-month">Print Chart</button>
            <span id="display"></span>
            <button id="button-month">Toggle Chart Type</button>
              <span id="display"></span>
          </div>
          <div style="position:relative;">
            <div id="chartContainer-year" style="height: 300px; width: 100%;margin:1.5em 0em;"></div>
            <button id="print-year">Print Chart</button>
            <span id="display"></span>
            <button id="button-year">Toggle Chart Type</button>
              <span id="display"></span>
          </div>
        </div>

        <div class="footer-print">
      <img src="/static/images/techtwologo-red-inverted.png" alt="Tech Two Logo" height="26" width="100">
        </div>

  </page>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
</body>
</html>
